body {
  min-height: 100vh;
  background: #0c192c;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  width: 40px;
  height: 30px;
  color: white;
  margin: 0 4px;
  animation: animation calc(60s / var(--i)) linear infinite;
}

@keyframes animation {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.div-form {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: solid 1px black;
  border-radius: 15px;
  min-height: 10rem;
  min-width: 30rem;
  background-color: darkseagreen;
}
.div-btn {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 15rem;
}

.component {
  display: none;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: darkcyan;
}

.btn:hover {
  background-color: aquamarine;
}
